html { 
	overflow-y: scroll; /* 设置自定义滚动条 这样做会强制显示滚动条*/
	/*overflow-y: auto; /* 可以更换为auto，自动显示模式，就不会强制显示*/
}

/* 滚动栏本身的背景 此项必须有 */
html::-webkit-scrollbar { 
    width: 6px;
    background-color: rgba(0, 0, 0, 0.0);
}

/*滚动栏下方的空白区域*/
html::-webkit-scrollbar-track {
	background: rgba(255, 85, 127, 0.0); /* 设置透明，就会随主题变化 */
}

/* 可拖动滚动元素的大小取决于可滚动元素的大小 */
html::-webkit-scrollbar-thumb{
	background: #252d38;
	border-radius: 6px;
}

/* 可滚动元素的底角，两个滚动条在此相交。 */
html::-webkit-scrollbar-corner {
	background:#82AFFF;
}

/* 搜索框关闭按钮  */
#local-search-close.close {
	cursor: url(/img/Hand2.cur),auto;
	background-color: @theme_background;
}

/* 搜索框、输入框 */
input,textarea {
	cursor: url(/img/IBeam.cur),auto;    /* 这里应该是竖条光标 */
	background-color: @theme_background;
}

/* 代码复制键 按钮键增加!important属性后可删 */
.copy-btn.copy-btn-light {
	cursor: url(/img/Hand2.cur),auto;
	background-color: @theme_background;
}

/* 按钮 */
button[class] {
	cursor: url(/img/Hand2.cur),auto !important;
	background-color: @theme_background;
}

/* 补充按钮 */
svg {
	cursor: url(/img/Hand2.cur),auto !important;
	background-color: rgba(0, 0, 0, 0.0);
}

/* 图片放大 */
.fancybox-image {
	cursor: url(/img/SizeAll.cur),auto;
	background-color: @theme_background;
}

/* 回到顶部   a标签添加!important属性后此处可删*/
#scroll-top-button {
	cursor: url(/img/Hand2.cur),auto;
	background-color: @theme_background;
}

/* 提高目录的z轴坐标，否则会被动态线挡住 */
#toc
{
	z-index: 10;
}

#timeDate {
	font-size: 12px;
}
#times {
	font-size: 12px;
}



.index-card {
	transition: all 0.5s;
	transform: scale(calc(1.5 - 0.5 * var(--state)));
	opacity: var(--state);
	margin-bottom: 2rem;
  }
  
  .index-img img {
	margin: 20px 0;
  }



/* 加载动画 */
.spinner {
	width: 44px;
	height: 44px;
	animation: spinner-y0fdc1 2s infinite ease;
	transform-style: preserve-3d;
   }
   
   .spinner > div {
	background-color: rgba(0,77,255,0.2);
	height: 100%;
	position: absolute;
	width: 100%;
	border: 2px solid #004dff;
   }
   
   .spinner div:nth-of-type(1) {
	transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
	transform: rotateY(-270deg) translateX(50%);
	transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
	transform: rotateY(270deg) translateX(-50%);
	transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
	transform: rotateX(90deg) translateY(-50%);
	transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
	transform: rotateX(-90deg) translateY(50%);
	transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
	transform: translateZ(22px);
   }
   
   @keyframes spinner-y0fdc1 {
	0% {
	 transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
	}
   
	50% {
	 transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
	}
   
	100% {
	 transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
	}
   }
